/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:960px;
  height: auto;
  margin: 0 auto;
  padding: 0px;
}
#carousel {
  width:960px;
  height: 500px;
  background-color:none;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
  box-shadow:0px 0px 30px 4px #222;
  /*box-shadow: 5px 5px 10px #222;*/
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  margin-top:58px;
  position:absolute;
  bottom:0;
  width:100%;
  background-color:none;
}
.carousel-feature .carousel-caption div {
  margin-top:10px;
  font-weight:bold;
  font-size:14px;
  color:white;
  line-height:140%;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:280px;
  bottom:-60px;
  padding:3px 5px;
  margin:3px;
  background-color:#000;
  border-radius: 5px;

}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:none;
  visibility: hidden;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:#FFF;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:175px;
  left:0px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:175px;
  right:0px;
  cursor:pointer;
}
#pausePlayWrapper {width: 950px;height: 40px;border: none;position: relative; }
#pausePlay {position: absolute;bottom: -15px;left: 255px;}
#pausePlay img {opacity: .5;}
#pausePlay img:hover {opacity: .8;}



